@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  	background-color: #ffffff;
  	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555;
    padding-top: 110px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333;
}

h1 {
	font-size: 35px;
	margin-top: 30px;
	margin-bottom: 30px;
}



/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #1abc9c;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.navbar {
	margin-bottom: 0px;
}

.navbar-inverse {
	padding-bottom: 30px;
	padding-top: 30px;
}

.navbar-inverse {
	background-color: #1abc9c;
	border-color: #16a085;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
	text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #222222;
}

.navbar-brand {
	font-size: 3em;
	letter-spacing: 2px;
	font-family: 'Kaushan Script', cursive;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-toggle {
	border-color: transparent;
}

.progress-bar-theme {
  background-color: #1abc9c;
}


/* Helpers */

.mt {
	margin-top: 40px;
	margin-bottom: 40px;
}

.pt {
	padding-top: 50px;
	padding-bottom: 50px;
}


/* WRAP SECTIONS */

#welcome {
    background-color: #f7f4e0;
    position: relative;
    overflow: hidden;
}

#greeting {
    position: absolute;
}

#greeting h1 {
    font-size: 50px;
    color: rgba(0, 0, 0, 0.5);
}

#greeting h1 span {
    font-family: 'Kaushan Script', cursive;
}

#about {
	padding-top: 70px;
	padding-bottom: 70px;
}

#resume {
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #FFCE54;
}

#footer {
	background-color: #2f2f2f;
	padding-top: 50px;
	padding-bottom: 50px; 
}

#footer p {
	color: white;
}

#footer h4 {
	color: white;
	text-transform: uppercase;
	padding-bottom: 20px;
}


/* Color Wraps / Blog Page */

#grey {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #f2f2f2;
}

#white {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #ffffff;
}


/* ================== PORTFOLIO IMAGES HOVER EFFECT ================== */
/* Effects also are controled by hover.zoom.js */
.zoom { 
    display:block; 
    position:relative; 
    overflow:hidden; 
    background:transparent url(../img/loader.gif) no-repeat center;
}


    .zoomOverlay {
        position:absolute;
        top:0; left:0;
        bottom:0; right:0;
        display:none;
        background-image:url(../img/zoom.png);
        background-repeat:no-repeat;
        background-position:center;
    }

.zoom2 {
	opacity: 1;
}

.zoom2:hover {
	opacity: 0.5;
}


/* Font-Awesome Configuration */
.fa-bars {
	font-size: 2em;
	color: #fff;
}

.fa-linkedin-square, .fa-google-plus-square {
	font-size: 3em;
	padding: .5em;
}

.fa-print, .fa-file {
	color: #fff;
}

.fa-star {
    font-size: 4em;
    color: #000;
}

/*Media Queries*/
@media screen and (min-width:100px) {
    .navbar-brand {
        font-size: 2.5em;
    }

    #greeting {
        top: 300px;
        width: 90%;
        text-align: right;
    }

    #welcome img {
        width: 600px;
    }
}

@media screen and (min-width:900px) {
    #greeting {
        top: 375px;
        width: 90%;
        text-align: right;
    }

    #welcome img {
        width: 800px;
    }
}

@media screen and (min-width:1400px) {
    #greeting {
        top: 250px;
        width: 100%;
        text-align: center;
    }

    #welcome img {
        width: 1000px;
    }
}